.react-toggle-track {
  background-color: #0f1114;
}

.react-toggle-track-check {
  width: 16px;
  height: 16px;
}

.react-toggle-track-x {
  width: 16px;
  height: 16px;
  right: 6px;
}

.react-toggle-thumb {
  border: none;
}

.react-toggle--checked .react-toggle-track {
  background-color: #0f1114;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0px 0px 2px 3px #ffa7c4;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #0f1114;
}
